<div class="container">
    <div class="col-md-4"></div>


    {{!--
    <div class=" col-md-4">
        <img src="https://78.media.tumblr.com/66f21f5dcd7cc7e4dedb1f94e5f7ddd8/tumblr_mxatnoI2tg1qbv408o1_r3_400.gif" class="img-responsive"
            alt="Image">
    </div> --}} {{!--
    <div class=" col-md-4">
        <img src="/assets/images/burger_2.jpg" class="img-responsive" alt="Image">
    </div> --}}

    <div class="col-md-4" id="main-title">
        <h1 class="title">Burgerteria</h1>
        <form class="create-burger">
            <div class="form-group">
                <label for="">Please type your burger selection </label>
                <input type="text" class="form-control" id="burger-name" autofocus="autofocus" placeholder="Type in your Burger">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="col-md-4"></div>
</div>

<div class="container">
    <div class="col-md-5">
        <div class="visible" id="wish-list">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h3>My Wish List of Burgers</h3>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each burgers}}
                    <tr class="scrollable">
                        {{#unless devoured}}
                        <td>
                            {{this.burger_name}}
                        </td>
                        <td>
                            <button data-burgerid="{{this.id}}" class="devoure">Devoure it!</button>
                        </td>
                        {{/unless}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-5">
        <div class="visible" id="devoured">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h3>Burgers Eaten</h3>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each burgers}}
                    <tr class="scrollable">
                        {{#if devoured}}
                        <td>
                            {{this.burger_name}}
                        </td>
                        <td>
                            <button data-burger-name="{{this.burger_name}}" class="reorder">Re-Order it!</button>
                        </td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer>
    <div class="container" id="most-popular">

        <div class="col-md-2"></div>

        <div class="col-md-8">
            <h3>The most popular burger here is:</h3>
            <h1>
                {{popular_burger}}
            </h1>
        </div>

        <div class="col-md-2"></div>
    </div>
</footer>